@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?sjdhu');
  src:  url('../fonts/icomoon/icomoon.eot?sjdhu#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?sjdhu') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?sjdhu') format('woff'),
    url('../fonts/icomoon/icomoon.svg?sjdhu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e900";
}
.icon-contacts:before {
  content: "\e901";
}
.icon-location:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e903";
  color: #fff;
}
.icon-triangle-down:before {
  content: "\e904";
}
