@import url('https://fonts.googleapis.com/css?family=Yantramanav:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400');
/*css reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Yantramanav', sans-serif;
  color: #000000;
  font-size: 15px;
  position: relative;
}
#primary {
  position: fixed;
  top: 50%;
  right: 45px;
  margin-top: -75px;
  z-index: 2;
  width: 20px;
  opacity: .5;
}
#primary:hover {
  opacity: .9;
}
#primary ul {
  text-align: center;
}
#primary li {
  position: relative;
}
#primary a {
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: #cdcdcd;
  opacity: .9;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 10px;
}
#primary a.active,
#primary a:hover {
  width: 14px;
  height: 14px;
}
#primary .title {
  background: rgba(205, 205, 205, 0.9);
  position: absolute;
  right: 25px;
  top: 0px;
  text-align: center;
  display: none;
  padding: 8px 15px 8px;
  color: #000;
  white-space: nowrap;
  font-size: 18px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 8px 10px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0px 8px 10px 0px rgba(50, 50, 50, 0.2);
  box-shadow: 0px 8px 10px 0px rgba(50, 50, 50, 0.2);
}
/*============ BANNER-HEADER ===========*/
.banner-header {
  background: url(../images/plea-shoes-banner.jpg) no-repeat top center;
  background-size: cover;
  color: #fff;
  height: 100%;
  min-height: 700px;
  display: flex;
  flex-direction: column;
}
.banner-header__logo {
  margin-left: 35px;
  padding-top: 35px;
}
.banner-header__header-sign-up {
  text-align: center;
  margin: auto;
}
.banner-header__header-sign-up .header-text h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 60px;
  font-weight: 300;
}
.banner-header__header-sign-up .header-text p {
  margin-top: 30px;
  margin-bottom: 55px;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
}
.input input[type="email"] {
  width: 250px;
  height: 45px;
  font-size: 16px;
  font-weight: 300;
  border: transparent;
  padding: 0 20px;
  border-radius: 50px 0 0 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input input[type="email"]:focus {
  outline: none;
  outline-offset: 0;
}
.input input[type="submit"] {
  width: 150px;
  height: 45px;
  cursor: pointer;
  border: transparent;
  border-radius: 0 50px 50px 0;
  background-color: #20ab50;
  color: #fff;
  font-size: 17px;
  font-family: 'Nunito', sans-serif;
  margin-left: -5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input input[type="submit"]:focus {
  outline: none;
  outline-offset: 0;
}
/*============ ABOUT-PLEA ===========*/
.about-plea {
  height: 100%;
  min-height: 700px;
  display: flex;
  justify-content: space-between;
  text-shadow: 0 0 .2px #000000;
}
.about-plea__wrap {
  width: 50%;
  text-align: center;
  display: flex;
}
.about-plea__wrap .about-text {
  flex: 1 1 50%;
  padding: 0 100px;
  margin: auto;
  align-self: center;
}
.about-plea__wrap .about-text h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 38px;
}
.about-plea__wrap .about-text p:nth-child(2) {
  margin-top: 50px;
}
.about-plea__wrap .about-text p {
  margin-top: 40px;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  font-weight: 100;
}
.about-plea__img {
  width: 50%;
  background: url(../images/plea-shoes-about-us.jpg) no-repeat center center;
  background-size: cover;
}
/*============ ANSWER-FIRST ===========*/
.answer-first {
  height: 100%;
  min-height: 700px;
  display: flex;
  justify-content: space-between;
  text-shadow: 0 0 .2px #000000;
}
.answer-first__img {
  width: 50%;
  background: url(../images/emme-pink-scooter.jpg) no-repeat center center;
  background-size: cover;
}
.answer-first__wrap {
  width: 50%;
  text-align: center;
  display: flex;
  order: 1;
}
.answer-first__wrap .answer-text {
  flex: 1 1 50%;
  padding: 0 200px;
  margin: auto;
  align-self: center;
}
.answer-first__wrap .answer-text h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 38px;
}
.answer-first__wrap .answer-text p {
  margin-top: 130px;
  margin-bottom: 100px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 100;
  position: relative;
}
.answer-first__wrap .answer-text p:before {
  content: '"';
  position: absolute;
  top: -30px;
  left: -20px;
  color: #dcdcdc;
  font-family: 'Nunito', sans-serif;
  font-size: 72px;
  font-weight: 300;
  text-shadow: none;
}
.answer-first__wrap .answer-text p:after {
  content: '"';
  position: absolute;
  bottom: -50px;
  right: -30px;
  color: #dcdcdc;
  font-family: 'Nunito', sans-serif;
  font-size: 72px;
  font-weight: 300;
  text-shadow: none;
}
.answer-first__wrap .answer-text span {
  font-size: 18px;
  line-height: 20px;
  font-weight: 100;
}
/*============ ANSWER-SECOND ===========*/
.answer-second {
  height: 100%;
  min-height: 700px;
  display: flex;
  justify-content: space-between;
  text-shadow: 0 0 .2px #000000;
}
.answer-second__wrap {
  width: 50%;
  text-align: center;
  display: flex;
}
.answer-second__wrap .answer-text {
  flex: 1 1 50%;
  padding: 0 200px;
  align-self: center;
  margin: auto;
}
.answer-second__wrap .answer-text p {
  margin-top: 130px;
  margin-bottom: 100px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 100;
  position: relative;
}
.answer-second__wrap .answer-text p:before {
  content: '"';
  position: absolute;
  top: -30px;
  left: -20px;
  color: #dcdcdc;
  font-family: 'Nunito', sans-serif;
  font-size: 72px;
  font-weight: 300;
  text-shadow: none;
}
.answer-second__wrap .answer-text p:after {
  content: '"';
  position: absolute;
  bottom: -50px;
  right: -30px;
  color: #dcdcdc;
  font-family: 'Nunito', sans-serif;
  font-size: 72px;
  font-weight: 300;
  text-shadow: none;
}
.answer-second__wrap .answer-text span {
  font-size: 18px;
  line-height: 20px;
  font-weight: 100;
}
.answer-second__img {
  width: 50%;
  background: url(../images/high-res-ty-red-steel-drip.jpg) no-repeat center center;
  background-size: cover;
}
/*============ RANGE ===========*/
.range {
  height: 100%;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  text-shadow: 0 0 .2px #000000;
}
.range__text {
  text-align: center;
  padding: 80px 30px 30px;
}
.range__text h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 38px;
}
.range__text p {
  margin-top: 15px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 100;
}
.range__carousel {
  max-width: 460px;
  margin: auto;
  align-self: center;
  text-align: center;
}
.range__carousel .owl-carousel .item {
  margin-top: 100px;
}
.range__carousel .owl-carousel .item img {
  max-width: 100%;
  max-height: auto;
  width: auto\9;
}
.range__carousel .owl-carousel .item span {
  display: block;
  margin-top: 115px;
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 38.4px;
  text-transform: uppercase;
}
.range__carousel .owl-carousel .second span {
  margin-top: 90px;
}
.range__carousel .owl-carousel .fourth {
  margin-top: 0;
}
.range__carousel .owl-carousel .fourth span {
  margin-top: 0;
}
.range__carousel .owl-carousel .fifth {
  margin-top: 40px;
}
.range__carousel .owl-carousel .fifth span {
  margin-top: 60px;
}
.range__carousel .owl-carousel .owl-prev {
  color: #FFF;
  font-size: 0px;
  padding: 17px;
  border: 1px solid #000000;
  border-radius: 50%;
  display: inline-block;
  opacity: .2;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: -150px;
}
.range__carousel .owl-carousel .owl-prev:after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -5px;
  left: 50%;
  margin-left: -4px;
  width: 10px;
  height: 10px;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  transform: rotate(-45deg);
}
.range__carousel .owl-carousel .owl-prev:hover {
  opacity: 1;
}
.range__carousel .owl-carousel .owl-next {
  color: #FFF;
  font-size: 0px;
  padding: 17px;
  border: 1px solid #000000;
  border-radius: 50%;
  display: inline-block;
  opacity: .2;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  right: -150px;
}
.range__carousel .owl-carousel .owl-next:after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -5px;
  left: 50%;
  margin-left: -8px;
  width: 10px;
  height: 10px;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  transform: rotate(135deg);
}
.range__carousel .owl-carousel .owl-next:hover {
  opacity: 1;
}
.range__carousel .owl-carousel .owl-dots {
  display: none;
}
.range__carousel #info {
  font-size: 18px;
  line-height: 40px;
  font-weight: 100;
}
/*============ WHY ===========*/
.why {
  background-color: #edeced;
  text-shadow: 0 0 .2px #000000;
}
.why__wrapper {
  max-width: 1160px;
  margin: 0 auto;
}
.why__wrapper .why-heading {
  text-align: center;
  padding: 80px 30px 0;
}
.why__wrapper .why-heading h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 38px;
}
.why__wrapper .why-heading p {
  margin-top: 15px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 100;
}
.why__wrapper .why-box {
  display: flex;
  justify-content: space-around;
  background: url(../images/kids-centered.jpg) no-repeat;
  background-position: 50% 50%;
  padding: 0 10px 40px;
}
.why__wrapper .why-box__content .wrap-content {
  max-width: 230px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 10px;
  padding: 15px;
  position: relative;
}
.why__wrapper .why-box__content .wrap-content h4 {
  font-size: 16px;
  line-height: 24px;
}
.why__wrapper .why-box__content .wrap-content p {
  font-size: 15px;
  font-weight: 100;
  line-height: 24px;
}
.why__wrapper .why-box__points {
  position: relative;
  max-width: 720px;
  width: 720px;
}
.why__wrapper .why-box__points .point {
  background-color: #ffffff;
  border: 5px solid rgba(32, 171, 80, 0.5);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  left: 0;
}
.why__wrapper .why-box__points .point:nth-child(1) {
  top: 29%;
  left: 11%;
}
.why__wrapper .why-box__points .point:nth-child(2) {
  top: 36%;
  left: 13%;
}
.why__wrapper .why-box__points .point:nth-child(3) {
  top: 51%;
  left: 15%;
}
.why__wrapper .why-box__points .point:nth-child(4) {
  top: 73%;
  left: 33%;
}
.why__wrapper .why-box__points .point:nth-child(5) {
  border: 5px solid rgba(198, 173, 170, 0.8);
  top: 30%;
  left: 53%;
}
.why__wrapper .why-box__points .point:nth-child(6) {
  top: 41%;
  left: 59%;
}
.why__wrapper .why-box__points .point:nth-child(7) {
  top: 43%;
  left: 83%;
}
.why__wrapper .why-box__points .point:nth-child(8) {
  top: 54%;
  left: 72%;
}
.why__wrapper .why-box__points .point:nth-child(9) {
  top: 77%;
  left: 47%;
}
.why__wrapper .why-box__content:nth-child(1) .wrap-content:before {
  content: '';
  position: absolute;
  top: 0;
  left: 240px;
  width: 20px;
  height: 1px;
  background-color: #ffffff;
  z-index: 1;
}
.why__wrapper .why-box__content:nth-child(1) .wrap-content:after {
  content: '';
  position: absolute;
  top: 0;
  left: 277px;
  width: 1px;
  height: 20px;
  background-color: #ffffff;
  z-index: 1;
}
.why__wrapper .why-box__content:nth-child(1) .box-first:before {
  width: 90px;
  top: 50%;
  left: 97%;
}
.why__wrapper .why-box__content:nth-child(1) .box-first:after {
  height: 150px;
  left: 134.5%;
  top: 50%;
}
.why__wrapper .why-box__content:nth-child(1) .box-second:before {
  width: 110px;
  top: 78%;
  left: 94%;
}
.why__wrapper .why-box__content:nth-child(1) .box-second:after {
  display: none;
}
.why__wrapper .why-box__content:nth-child(1) .box-third:before {
  width: 118px;
  top: 25%;
  left: 96%;
}
.why__wrapper .why-box__content:nth-child(1) .box-third:after {
  display: none;
}
.why__wrapper .why-box__content:nth-child(1) .box-fourth:before {
  width: 243px;
  top: 50%;
  left: 94%;
}
.why__wrapper .why-box__content:nth-child(1) .box-fourth:after {
  height: 105px;
  left: 195.4%;
  top: -20%;
}
.why__wrapper .why-box__content:nth-child(3) .wrap-content:before {
  content: '';
  position: absolute;
  top: 0;
  left: -17px;
  width: 20px;
  height: 1px;
  background-color: #ffffff;
}
.why__wrapper .why-box__content:nth-child(3) .wrap-content:after {
  content: '';
  position: absolute;
  top: 0;
  left: -17px;
  width: 1px;
  height: 20px;
  background-color: #ffffff;
}
.why__wrapper .why-box__content:nth-child(3) .box-fifth:before {
  top: 50%;
  width: 350px;
  left: -126%;
}
.why__wrapper .why-box__content:nth-child(3) .box-fifth:after {
  top: 50%;
  height: 165px;
  left: -126%;
}
.why__wrapper .why-box__content:nth-child(3) .box-sixth:before {
  top: 50%;
  width: 300px;
  left: -109%;
}
.why__wrapper .why-box__content:nth-child(3) .box-sixth:after {
  top: 50%;
  height: 130px;
  left: -109%;
}
.why__wrapper .why-box__content:nth-child(3) .box-seventh:before {
  top: 57%;
  width: 110px;
  left: -42%;
}
.why__wrapper .why-box__content:nth-child(3) .box-seventh:after {
  display: none;
}
.why__wrapper .why-box__content:nth-child(3) .box-eighth:before {
  top: 50%;
  width: 190px;
  left: -73%;
}
.why__wrapper .why-box__content:nth-child(3) .box-eighth:after {
  top: 7%;
  height: 65px;
  left: -73%;
}
.why__wrapper .why-box__content:nth-child(3) .box-ninth:before {
  top: 50%;
  width: 350px;
  left: -142%;
}
.why__wrapper .why-box__content:nth-child(3) .box-ninth:after {
  top: 7%;
  height: 45px;
  left: -142.5%;
}
/*============ FIND ===========*/
.find {
  text-shadow: 0 0 .2px #000000;
}
.find__wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 30px;
}
.find__wrapper .find-heading {
  text-align: center;
  padding: 80px 0 60px;
}
.find__wrapper .find-heading h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 38px;
}
.find__wrapper .find-heading p {
  margin-top: 15px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 100;
}
.find__wrapper .wrap-box {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.find__wrapper .wrap-box ul {
  margin-right: 80px;
  margin-bottom: 60px;
  font-size: 15px;
  font-weight: 100;
  line-height: 24px;
}
.find__wrapper .wrap-box ul h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.find__wrapper .wrap-box ul a {
  display: block;
  margin-top: 10px;
  color: #20ab50;
  text-shadow: 0 0 .2px #20ab50;
  text-decoration: none;
  cursor: pointer;
}
.find__wrapper .wrap-box ul:nth-child(5) {
  margin-right: 0;
}
.find__wrapper .wrap-box ul:nth-child(10) {
  margin-right: 0;
}
.find__wrapper .wrap-box ul:nth-child(15) {
  margin-right: 0;
}
.find__wrapper .contact {
  text-align: center;
  padding: 30px 0 70px;
}
.find__wrapper .contact h3 {
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 38px;
}
.find__wrapper .contact p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 100;
}
.find__wrapper .contact__us {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.find__wrapper .contact__us a {
  display: block;
  margin-right: 50px;
  color: #20ab50;
  text-decoration: none;
  cursor: pointer;
  text-shadow: none;
}
.find__wrapper .contact__us span {
  display: block;
  margin-left: 50px;
  text-shadow: none;
}
/*============ NEWS ===========*/
.news {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
}
.news__text {
  text-align: center;
  margin: 130px auto;
  text-shadow: 0 0 .2px #000000;
}
.news__text h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
}
.news__text p {
  margin: 5px 0 40px;
  font-size: 22px;
  font-weight: 300;
  line-height: 38px;
}
/*============ FOOTER ===========*/
.copyright {
  background-color: #dcdcdc;
}
.copyright__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 30px;
  color: #ffffff;
  font-size: 14px;
}
/*============ АДАПТИВ ===========*/
@media (min-width: 0) and (max-width: 480px) {
  #primary {
    display: none;
  }
  /*============ BANNER-HEADER ===========*/
  .banner-header__header-sign-up {
    padding: 0 15px;
  }
  .banner-header__header-sign-up .header-text h1 {
    font-size: 50px;
  }
  .banner-header__header-sign-up .header-text p {
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 17px;
    line-height: 20px;
  }
  .banner-header__header-sign-up .header-text p br {
    display: none;
  }
  .input form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .input form input[type="email"] {
    width: 200px;
    border-radius: 50px;
  }
  .input form input[type="submit"] {
    width: 100px;
    border-radius: 50px;
    margin-top: 5px;
  }
  /*============ ABOUT-PLEA ===========*/
  .about-plea {
    height: auto;
    min-height: auto;
    flex-direction: column;
    padding-bottom: 50px;
  }
  .about-plea__wrap {
    width: 100%;
  }
  .about-plea__wrap .about-text {
    flex: 1 1 100%;
    padding: 50px 30px 30px;
    margin: auto;
    align-self: center;
  }
  .about-plea__wrap .about-text p:nth-child(2) {
    margin-top: 20px;
  }
  .about-plea__wrap .about-text p {
    margin-top: 20px;
  }
  .about-plea__img {
    width: 100%;
    height: 300px;
  }
  /*============ ANSWER-FIRST ===========*/
  .answer-first {
    height: auto;
    min-height: auto;
    flex-direction: column;
  }
  .answer-first__img {
    width: 100%;
    height: 300px;
  }
  .answer-first__wrap {
    width: 100%;
    order: 0;
  }
  .answer-first__wrap .answer-text {
    flex: 1 1 100%;
    padding: 0 30px 30px;
  }
  .answer-first__wrap .answer-text p {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .answer-first__wrap .answer-text p:before {
    left: -10px;
    font-size: 50px;
  }
  .answer-first__wrap .answer-text p:after {
    right: -10px;
    font-size: 50px;
  }
  /*============ ANSWER-SECOND ===========*/
  .answer-second {
    height: auto;
    min-height: auto;
    flex-direction: column;
  }
  .answer-second__wrap {
    width: 100%;
  }
  .answer-second__wrap .answer-text {
    flex: 1 1 100%;
    padding: 50px 30px 30px;
  }
  .answer-second__wrap .answer-text p {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .answer-second__wrap .answer-text p:before {
    left: -10px;
    font-size: 50px;
  }
  .answer-second__wrap .answer-text p:after {
    right: -10px;
    font-size: 50px;
  }
  .answer-second__img {
    width: 100%;
    height: 300px;
  }
  /*============ RANGE ===========*/
  .range {
    height: auto;
    min-height: auto;
    padding-bottom: 50px;
  }
  .range__text {
    padding: 50px 30px 30px;
  }
  .range__carousel {
    max-width: 260px;
  }
  .range__carousel .owl-carousel .item {
    margin-top: 50px;
  }
  .range__carousel .owl-carousel .item span {
    margin-top: 80px;
  }
  .range__carousel .owl-carousel .second span {
    margin-top: 65px;
  }
  .range__carousel .owl-carousel .fourth {
    margin-top: 0;
  }
  .range__carousel .owl-carousel .fourth span {
    margin-top: 0;
  }
  .range__carousel .owl-carousel .fifth {
    margin-top: 40px;
  }
  .range__carousel .owl-carousel .fifth span {
    margin-top: 20px;
  }
  .range__carousel .owl-carousel .owl-prev {
    display: none;
  }
  .range__carousel .owl-carousel .owl-next {
    display: none;
  }
  /*============ WHY ===========*/
  .why__wrapper .why-heading {
    text-align: center;
    padding: 50px 30px 30px;
  }
  .why__wrapper .why-box {
    flex-direction: column;
    align-items: center;
    background-image: none;
    padding: 0 10px 40px;
  }
  .why__wrapper .why-box__points {
    display: none;
  }
  .why__wrapper .why-box__content {
    margin: 0 auto;
  }
  .why__wrapper .why-box__content .wrap-content {
    webkit-box-shadow: 0px 8px 10px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 0px 8px 10px 0px rgba(50, 50, 50, 0.2);
    box-shadow: 0px 8px 10px 0px rgba(50, 50, 50, 0.2);
  }
  .why__wrapper .why-box__content .wrap-content:before {
    display: none;
  }
  .why__wrapper .why-box__content .wrap-content:after {
    display: none;
  }
  /*============ FIND ===========*/
  .find__wrapper .find-heading {
    padding: 50px 0 30px;
  }
  .find__wrapper .wrap-box {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .find__wrapper .wrap-box ul {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .find__wrapper .wrap-box ul a {
    margin-top: 5px;
  }
  .find__wrapper .contact {
    padding: 30px 0 50px;
  }
  .find__wrapper .contact__us {
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
  }
  .find__wrapper .contact__us a {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .find__wrapper .contact__us span {
    margin-left: 0;
  }
  /*============ NEWS ===========*/
  .news__text {
    margin: 60px auto;
  }
  .news__text p {
    margin: 5px 0 30px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  #primary {
    display: none;
  }
  /*============ BANNER-HEADER ===========*/
  .banner-header__header-sign-up {
    padding: 0;
  }
  .banner-header__header-sign-up .header-text {
    padding: 15px;
  }
  .banner-header__header-sign-up .header-text br {
    display: none;
  }
  /*============ ABOUT-PLEA ===========*/
  .about-plea {
    height: auto;
    min-height: auto;
    flex-direction: column;
    padding-bottom: 50px;
  }
  .about-plea__wrap {
    width: 100%;
  }
  .about-plea__wrap .about-text {
    flex: 1 1 100%;
    padding: 50px 80px 30px;
    margin: auto;
    align-self: center;
  }
  .about-plea__wrap .about-text p:nth-child(2) {
    margin-top: 20px;
  }
  .about-plea__wrap .about-text p {
    margin-top: 20px;
  }
  .about-plea__img {
    width: 100%;
    height: 500px;
  }
  /*============ ANSWER-FIRST ===========*/
  .answer-first {
    height: auto;
    min-height: auto;
    flex-direction: column;
  }
  .answer-first__img {
    width: 100%;
    height: 500px;
  }
  .answer-first__wrap {
    width: 100%;
    order: 0;
  }
  .answer-first__wrap .answer-text {
    flex: 1 1 100%;
    padding: 0 80px 30px;
  }
  .answer-first__wrap .answer-text p {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .answer-first__wrap .answer-text p:before {
    left: -10px;
    font-size: 50px;
  }
  .answer-first__wrap .answer-text p:after {
    right: -10px;
    font-size: 50px;
  }
  /*============ ANSWER-SECOND ===========*/
  .answer-second {
    height: auto;
    min-height: auto;
    flex-direction: column;
  }
  .answer-second__wrap {
    width: 100%;
  }
  .answer-second__wrap .answer-text {
    flex: 1 1 100%;
    padding: 50px 80px 30px;
  }
  .answer-second__wrap .answer-text p {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .answer-second__wrap .answer-text p:before {
    left: -10px;
    font-size: 50px;
  }
  .answer-second__wrap .answer-text p:after {
    right: -10px;
    font-size: 50px;
  }
  .answer-second__img {
    width: 100%;
    height: 500px;
  }
  /*============ RANGE ===========*/
  .range {
    height: auto;
    min-height: auto;
    padding-bottom: 50px;
  }
  .range__text {
    padding: 50px 30px 30px;
  }
  .range__carousel {
    max-width: 360px;
  }
  .range__carousel .owl-carousel .item {
    margin-top: 65px;
  }
  .range__carousel .owl-carousel .second span {
    margin-top: 90px;
  }
  .range__carousel .owl-carousel .fourth {
    margin-top: 0;
  }
  .range__carousel .owl-carousel .fourth span {
    margin-top: 0;
  }
  .range__carousel .owl-carousel .fifth {
    margin-top: 40px;
  }
  .range__carousel .owl-carousel .fifth span {
    margin-top: 35px;
  }
  .range__carousel .owl-carousel .owl-prev {
    left: -37px;
  }
  .range__carousel .owl-carousel .owl-next {
    right: -37px;
  }
  /*============ WHY ===========*/
  .why__wrapper .why-heading {
    text-align: center;
    padding: 50px 30px 30px;
  }
  .why__wrapper .why-box {
    flex-direction: column;
    align-items: center;
    background-image: none;
    padding: 0 10px 40px;
  }
  .why__wrapper .why-box__points {
    display: none;
  }
  .why__wrapper .why-box__content {
    margin: 0 auto;
  }
  .why__wrapper .why-box__content .wrap-content {
    margin-top: 20px;
    webkit-box-shadow: 0px 8px 10px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 0px 8px 10px 0px rgba(50, 50, 50, 0.2);
    box-shadow: 0px 8px 10px 0px rgba(50, 50, 50, 0.2);
  }
  .why__wrapper .why-box__content .wrap-content:before {
    display: none;
  }
  .why__wrapper .why-box__content .wrap-content:after {
    display: none;
  }
  /*============ FIND ===========*/
  .find__wrapper .find-heading {
    padding: 50px 0 30px;
  }
  .find__wrapper .wrap-box {
    flex-wrap: wrap;
    justify-content: center;
  }
  .find__wrapper .wrap-box ul {
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 20px;
  }
  .find__wrapper .wrap-box ul a {
    margin-top: 5px;
  }
  .find__wrapper .wrap-box ul:nth-child(5) {
    margin-right: 25px;
  }
  .find__wrapper .wrap-box ul:nth-child(10) {
    margin-right: 25px;
  }
  .find__wrapper .wrap-box ul:nth-child(15) {
    margin-right: 25px;
  }
  .find__wrapper .contact {
    text-align: center;
    padding: 30px 0 50px;
  }
  .find__wrapper .contact__us {
    justify-content: space-around;
    margin-top: 30px;
  }
  .find__wrapper .contact__us a {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .find__wrapper .contact__us span {
    margin-left: 0;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  /*============ ABOUT-PLEA ===========*/
  .about-plea__wrap .about-text {
    padding: 0 20px;
  }
  /*============ ANSWER-FIRST ===========*/
  .answer-first__wrap .answer-text {
    padding: 0 20px;
  }
  .answer-first__wrap .answer-text p:before {
    left: -10px;
  }
  .answer-first__wrap .answer-text p:after {
    right: -10px;
  }
  /*============ ANSWER-SECOND ===========*/
  .answer-second__wrap .answer-text {
    padding: 0 20px;
  }
  .answer-second__wrap .answer-text p:before {
    left: -10px;
  }
  .answer-second__wrap .answer-text p:after {
    right: -10px;
  }
  /*============ RANGE ===========*/
  .range__carousel .owl-carousel .owl-prev {
    left: -80px;
  }
  .range__carousel .owl-carousel .owl-next {
    right: -80px;
  }
  /*============ WHY ===========*/
  .why__wrapper .why-box {
    background-size: 50% auto;
  }
  .why__wrapper .why-box__points {
    display: none;
  }
  .why__wrapper .why-box__content {
    margin: 0 auto;
  }
  .why__wrapper .why-box__content .wrap-content {
    margin-top: 20px;
  }
  .why__wrapper .why-box__content .wrap-content:before {
    display: none;
  }
  .why__wrapper .why-box__content .wrap-content:after {
    display: none;
  }
  /*============ FIND ===========*/
  .find__wrapper .wrap-box {
    justify-content: center;
  }
  .find__wrapper .wrap-box ul:nth-child(5) {
    margin-right: 80px;
  }
  .find__wrapper .wrap-box ul:nth-child(10) {
    margin-right: 80px;
  }
  .find__wrapper .wrap-box ul:nth-child(15) {
    margin-right: 80px;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  /*============ ABOUT-PLEA ===========*/
  .about-plea__wrap .about-text {
    padding: 0 60px;
  }
  /*============ ANSWER-FIRST ===========*/
  .answer-first__wrap .answer-text {
    padding: 0 60px;
  }
  .answer-first__wrap .answer-text p:before {
    left: -20px;
  }
  .answer-first__wrap .answer-text p:after {
    right: -20px;
  }
  /*============ ANSWER-SECOND ===========*/
  .answer-second__wrap .answer-text {
    padding: 0 60px;
  }
  .answer-second__wrap .answer-text p:before {
    left: -20px;
  }
  .answer-second__wrap .answer-text p:after {
    right: -20px;
  }
  /*============ WHY ===========*/
  .why__wrapper .why-box {
    background-size: 50% auto;
  }
  .why__wrapper .why-box__points {
    display: none;
  }
  .why__wrapper .why-box__content {
    margin: 0 auto;
  }
  .why__wrapper .why-box__content .wrap-content {
    margin-top: 20px;
  }
  .why__wrapper .why-box__content .wrap-content:before {
    display: none;
  }
  .why__wrapper .why-box__content .wrap-content:after {
    display: none;
  }
  /*============ FIND ===========*/
  .find__wrapper .wrap-box {
    justify-content: center;
  }
  .find__wrapper .wrap-box ul:nth-child(5) {
    margin-right: 80px;
  }
  .find__wrapper .wrap-box ul:nth-child(10) {
    margin-right: 80px;
  }
  .find__wrapper .wrap-box ul:nth-child(15) {
    margin-right: 80px;
  }
}
