@media (max-width: 1200px) {
    
}

@media (max-width: 992px) {
	// Header-------------------------------------------
	.header {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.wrap-menu {
		transform: translateY(-105%);
		transition: transform .3s ease;
		position: fixed;
		z-index: 10;
		top: 0;
		left: 0;
		right: 0;
		background-color: #f5f6fa;
		padding: 20px 0;
	}
	
	.close-menu {
		display: block;
	}

	.menu {
		display: block;
		text-align: center;
		margin-top: 50px;

		&__item {
			display: block;

			&:nth-child(n+2) {
				margin-left: 0;
				margin-top: 10px;
			}

			&_login {
				display: none;
			}
		}

		&__link {
			display: block;
			padding: 10px 15px;

			&:hover {
				background-color: #ced6e0;
			}

			&_active {
				background-color: #ced6e0;
			}
		}
	}

	.entrance {
		text-align: center;
		display: block;
		margin-left: 0;
		margin-top: 40px;
	}

	.wrap-menu.login {

		.menu {

			.menu__item_login {
				display: block;
			}
		}
	}

	.wrap-menu_active {
		transform: translateY(0%);
	}

	.bg {
		display: block;
		transform: translateY(-105%);
		position: fixed;
		z-index: 9;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(87,96,111,.7);
		transition: transform .3s ease-in;

		&_active {
			transform: translateY(0%);;
		}
	}
}

@media (max-width: 768px) {
	// Main --------------------------------------
	.wrap-img {
		margin-top: 15px;
	
		&__inner {
	
			&:nth-child(n+2) {
				margin-top: 15px;
			}

			img {
				margin: 0 -15px;
			}
		}
	}
}

@media (max-width: 480px) {
	// Header-------------------------------------
	.logo {
		top: 8px;
	}
}